.increase {
  animation: increasing 0.3s ease infinite;
}

@keyframes increasing {
  from {
    color: #0f9b0f;
  }
  to {
    color: #24FE41;
  }
}

.selected {
  box-shadow: 0 0 30px 2px #0f9b0f;
}
