.alpha {
  box-shadow: 0 0 40px 10px #ec2;
}

.tilex0 {
  background-color: #dcb;
}

.tile0 {
  background-color: #dcb;
}

.tile1 {
  background-color: #eee;
}

.tile2 {
  background-color: #eec;
}

.tile3 {
  color: #ffe;
  background-color: #fb8;
}

.tile4 {
  color: #ffe;
  background-color: #f96;
}

.tile5 {
  color: #ffe;
  background-color: #f75;
}

.tile6 {
  color: #ffe;
  background-color: #f53;
}

.tile7 {
  color: #ffe;
  background-color: #ec7;
  font-size: 45px;
}

.tile8 {
  color: #ffe;
  background-color: #ec6;
  font-size: 45px;
}

.tile9 {
  color: #ffe;
  background-color: #ec5;
  font-size: 45px;
}

.tile10 {
  color: #fff;
  background-color: #ec3;
  font-size: 35px;
}

.tile11 {
  color: #fff;
  background-color: #ec2;
  font-size: 35px;
}
