.alpha {
  box-shadow: 0 0 40px 10px #ec2;
}

.tilex0 {
  background-color: #dcb;
}

.tile0 {
  background-color: #dcb;
}

.tile1 {
  background-color: #eee;
}

.tile2 {
  background-color: #eec;
}

.tile3 {
  background-color: #fb8;
}

.tile4 {
  background-color: #f96;
}

.tile5 {
  background-color: #f75;
}

.tile6 {
  background-color: #f53;
}

.tile7 {
  background-color: #ec7;
}

.tile8 {
  background-color: #ec6;
}

.tile9 {
  background-color: #ec5;
}

.tile10 {
  background-color: #ec3;
}

.tile11 {
  background-color: #ec2;
}

.label3 {
  color: #ffe;
}

.label4 {
  color: #ffe;
}

.label5 {
  color: #ffe;
}

.label6 {
  color: #ffe;
}

.label7 {
  color: #ffe;
  font-size: 45px;
}

.label8 {
  color: #ffe;
  font-size: 45px;
}

.label9 {
  color: #ffe;
  font-size: 45px;
}

.label10 {
  color: #fff;
  font-size: 35px;
}

.label11 {
  color: #fff;
  font-size: 35px;
}

.stickerCon {
  background: linear-gradient(180deg,#a8ff78,#78ffd6);
}

.pointsCon {
  background: linear-gradient(90deg, #12c2e9,#c471ed, #f64f59);
}

.swagCon {
  background: linear-gradient(90deg, #f4c4f3, #fc67fa);
}

.miscCon {
  background: linear-gradient(90deg, #ef32d9,#89fffd);
}

.superpowerCon {
  background: linear-gradient(90deg, #00c3ff,#ffff1c);
}

.allCon {
  background: linear-gradient(90deg, #FDFC47,#24FE41);
}
