.home {
  background: linear-gradient(-90deg, red, yellow);
  width: 100%;
  height: 600px;
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  right: 0;
}

.headline {
  margin: auto 0;
  padding: 2px 0;
  text-align: center;
  background-color: black;
  color: white;
}

.greeting {
  text-align: center;
  margin: 100px 0;
  color: black;
}

.top h3 {
  float: right;
  margin-right: 200px;
}

.top h1 {
  font-size: 7em;
  font-weight: bold;
  margin: 5px;
  clear:right;
}

.top span {
  color: white;
}

.bottom {
  margin-top: 30px;
}

.bottom a {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: black;
  border: none;
  font-weight: bold;
}

.bottom  a {
  text-decoration: none;
  color: white
}
.bottom  a:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

.goals {
  margin: 20px auto;
  padding: 0px 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.goal {
  margin:  5px 5px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.goal:hover {
  transform: scale(1.1);
  background: black;
  color: white;
  border-color: 1px solid white;
}

.banner {
  text-align: center;
  margin: 50px 0;
  color: black;
}

form {
  text-align: center;
  margin: 0 auto;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

label .label-text {
  color: #9B9B9B;
  /*this is so that when a user clicks on label, you can input text into the input*/
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  /*set time for transition to take place*/
  transition: all 0.3s;
}

label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: black;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  /*this is for the width of the line*/
  /*the width starts at 200 when user does not interact with it*/
  width: 200px;
}

label input:focus {
  max-width: 100%;
  /*when user focuses on the input, the width increases to 400px, this makes the border line larger*/
  width: 400px;
}
label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
/*if there is value at the input of label, the label does not collapse back together
it will stay on top
this is so cool*/
label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.asideImg {
  width: 100%;
  opacity: 1;
  background: black;
  transition: .5s ease;
}

.aside-container {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.asideText {
  text-align: center;
  padding: 20px 0;
}

.asideText h3 {
  font-weight: 2000;
}

.aside-img-div {
  position: relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.aside-img-div:hover .asideImg {
  opacity: 0.3;
}

.aside-img-div:hover .middle {
  opacity: 1;
}

a {
  text-decoration: none;
}

.profile-container {
  background-color: #f5f5f5;
  color: black;
  position: sticky;
  top: 100px;
  width: 350px;
}

.feed-container {
  width: 800px;
  margin: 0 30px;
}

.title {
  text-align: center;
}

.store {
  margin: 25px 125px;
  display: flex;
  align-items: flex-start;
}

.profile-hr {
  background-color: white;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.profile-hr p {
  margin-bottom: 0;
}

.left, .right {
  padding: 0 20px;
}

.filters {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.filters ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.filters ul li {
  float: left;
  margin: 0px 10px;
}

.filters ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
.filter-options:hover {
  cursor: pointer;
  color: red;
}

.filter-header {
  background-color: #f0f0f0;
}

.submit-button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

.submit-button:hover, .submit-button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}

.items {
  display: flex;
  margin: 10px 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  padding: 5px;
  border: 1px solid white;
}

.item:hover {
  border-color: black;
}

.info {
  line-height: 10px;
  text-align: center;
}

.attributes, ul {
  list-style: none;
  padding: 2px 0px;
}

.item-img-div {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.item-msg {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  background-color: black;
  padding: 5px 0px;
}

.item-msg a {
  color: white;
  text-decoration: none;
}

.item-img-div:hover .item-msg {
  opacity: 1;
  cursor: pointer;
}

.item-img-div:hover .item-img {
  transform: scale(1.2);
}

.item-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.content {
  margin-top: 100px;
}

.itemPage {
  margin: auto 100px;
  padding: 20px;
}

.itemProfile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.itemImgs, .itemInfo {
  width: 50%;
}

.mainImg {
  width: 70%;
}

.footer {
  margin-top: 10px;
  background: #191919;
  padding: 40px;
  display:flex;
  flex-direction:row;
  width: 100%;
}

.footer h3 {
  color:#FFF;
  font-size: .875em;
}

.footer div {
  width: 250px;
}

.footer p {
  color: #999;
  font-size: .688em;
}

.ui-container {
  padding: 14px 21px;
  margin: 0 20px;
  border-radius: 10px;
}

.success {
  background: #fcfff5;
  border: 1px solid #a3c293;
}

.success h4 {
  color: #1a531b;
}

.error {
  background: #ffe8e6;
  border: 1px solid #db2828;
}

.error h4 {
  color: #db2828;
}

.warning {
  background: #fff8db;
  border: 1px solid #b58105;
}

.warning h4 {
  color: #b58105;
}

.cart-col {
  width: 65%;
  margin: 10px;
}

.order-col {
  width: 30%;
  margin: 10px;
}

.cart-header {
  width: 100%;
  background-color: #eee;
  padding: 20px;
  font-size: 12px;
  color: #666;
}

.cart-header span {
  color: #FA5400;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.025em;
  font-weight: bold;
}

.cart-header a {
  color: #666;
}

.cart-header p {
  margin-bottom: 0px;
}

.cart-header h3 {
  color: black;
  margin-top: 10px;
}

.cart-table {
  border: 1px solid #eee;
  color: #666;
  padding: 20px;
}

.cart-table p span {
  font-weight: bold;
}

.bold {
  margin-bottom: 20px;
}

.summary-content {
  background-color: #191919;
}

.summary-row {
  padding: 14px 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  color: #efefef;
  font-size: 14px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary-header {
  padding: 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  color: #efefef;
  text-align: center;
}

.summary-header h3 {
  color: #FA5400;
}

.increase-pts {
  font-weight: bold;
  color: #00f260;
  letter-spacing: 0.15em;
}

.checkout-btn {
  width: 100%;
  padding: 5px 10px;
  background-color: #FA5400;
  color: white;
  border: 0;
  border-radius: 2px;
  font-size: 14px;
}
