.home {
  background: linear-gradient(-90deg, red, yellow);
  width: 100%;
  height: 600px;
  margin: 0;
}

.header {
  margin-bottom: 0;
}

.headline {
  margin: auto 0;
  padding: 2px 0;
  text-align: center;
  background-color: black;
  color: white;
}

.navbar {
  margin-bottom: 0px;
}

.greeting {
  text-align: center;
  margin: 100px 0;
  color: black;
}

.top h3 {
  right: 300px;
  top: 180px;
  position: absolute;
}

.top h1 {
  font-size: 7em;
  font-weight: bold;
  margin: 5px;
}

.top span {
  color: white;
}

.bottom {
  margin-top: 30px;
}

.bottom a {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: black;
  border: none;
  font-weight: bold;
}

.bottom  a {
  text-decoration: none;
  color: white
}
.bottom  a:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

.goals {
  margin: 20px auto;
  padding: 0px 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.goal {
  margin:  5px 5px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.goal:hover {
  transform: scale(1.1);
  background: black;
  color: white;
  border-color: 1px solid white;
}

.banner {
  text-align: center;
  margin: 50px 0;
  color: black;
}

form {
  text-align: center;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

label .label-text {
  color: #9B9B9B;
  /*this is so that when a user clicks on label, you can input text into the input*/
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  /*set time for transition to take place*/
  transition: all 0.3s;
}

label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: black;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  /*this is for the width of the line*/
  /*the width starts at 200 when user does not interact with it*/
  width: 200px;
}

label input:focus {
  max-width: 100%;
  /*when user focuses on the input, the width increases to 400px, this makes the border line larger*/
  width: 400px;
}
label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
/*if there is value at the input of label, the label does not collapse back together
it will stay on top
this is so cool*/
label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.asideImg {
  width: 100%;
  opacity: 1;
  background: black;
  transition: .5s ease;
}

.aside-container {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.asideText {
  text-align: center;
  padding: 20px 0;
}

.asideText h3 {
  font-weight: 2000;
}

.aside-img-div {
  position: relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.aside-img-div:hover .asideImg {
  opacity: 0.3;
}

.aside-img-div:hover .middle {
  opacity: 1;
}

a {
  text-decoration: none;
}

.profile-container {
  background-color: #f5f5f5;
  width: 30%;
  color: black;
}

.feed-container {
  width: 70%;
  padding: 0px 20px;
}

.title {
  text-align: center;
}

.store {
  display: flex;
  margin: 25px 40px;
}

.profile-hr {
  background-color: white;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.profile-hr p {
  margin-bottom: 0;
}

.left, .right {
  padding: 0 20px;
}

.increase-pts {
  color: green;
}

.filters {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.filters ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.filters ul li {
  float: left;
  margin: 0px 10px;
}

.filters ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
.filter-options:hover {
  cursor: pointer;
  color: red;
}

.filter-header {
  background-color: #f0f0f0;
}
