.landingPic {
  width: 100%;
  height: 600px;
  margin: 0;
}

.home {
  background: linear-gradient(-90deg, red, yellow);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  right: 0;
}

.headline {
  margin: auto 0;
  padding: 2px 0;
  text-align: center;
  background-color: black;
  color: white;
}

.greeting {
  text-align: center;
  margin: 100px 0;
  color: black;
}

.top h3 {
  float: right;
  margin-right: 200px;
}

.top h1 {
  font-size: 7em;
  font-weight: bold;
  margin: 5px;
  clear:right;
}

.top span {
  color: white;
}

.bottom {
  margin-top: 30px;
}

.bottom a {
  padding: 10px 20px;
  margin: 0 5px;
  background-color: black;
  border: none;
  font-weight: bold;
}

.bottom  a {
  text-decoration: none;
  color: white
}
.bottom  a:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

.goals {
  margin: 20px auto;
  padding: 0px 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.goal {
  margin:  5px 5px;
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.goal:hover {
  transform: scale(1.1);
  background: black;
  color: white;
  border-color: 1px solid white;
}

.banner {
  text-align: center;
  margin: 50px 0;
  color: black;
}

.goalForm {
  text-align: center;
  margin: 0 auto;
}

.goalLabel {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

.goalLabel .label-text {
  color: #9B9B9B;
  /*this is so that when a user clicks on label, you can input text into the input*/
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  /*set time for transition to take place*/
  transition: all 0.3s;
}

.goalLabel .goalInput {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: black;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  /*this is for the width of the line*/
  /*the width starts at 200 when user does not interact with it*/
  width: 200px;
}

.goalLabel .goalInput:focus {
  max-width: 100%;
  width: 400px;
}

.goalLabel .goalInput:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.goalLabel .goalInput:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

.asideImg {
  width: 100%;
  opacity: 1;
  background: black;
  transition: .5s ease;
}

.aside-container {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.asideText {
  text-align: center;
  padding: 20px 0;
}

.asideText h3 {
  font-weight: 2000;
}

.aside-img-div {
  position: relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.aside-img-div:hover .asideImg {
  opacity: 0.3;
}

.aside-img-div:hover .middle {
  opacity: 1;
}

a {
  text-decoration: none;
}

.profile-container {
  background-color: #f5f5f5;
  color: black;
  position: sticky;
  top: 100px;
  width: 350px;
}

.feed-container {
  width: 800px;
  margin: 0 30px;
}

.title {
  text-align: center;
}

.store {
  margin: 25px 125px;
  display: flex;
  align-items: flex-start;
}

.profile-hr {
  background-color: white;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.profile-hr p {
  margin-bottom: 0;
}

.left, .right {
  padding: 0 20px;
}

.filters {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.filters ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.filters ul li {
  float: left;
  margin: 0px 10px;
}

.filters ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
.filter-options:hover {
  cursor: pointer;
  color: red;
}

.filter-header {
  background-color: #f0f0f0;
}

.submit-button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

.submit-button:hover, .submit-button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}

.items {
  display: flex;
  margin: 10px 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  padding: 5px;
  border: 1px solid white;
}

.item:hover {
  border-color: black;
}

.info {
  line-height: 10px;
  text-align: center;
}

.attributes, ul {
  list-style: none;
  padding: 2px 0px;
}

.item-img-div {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.item-msg {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  background-color: black;
  padding: 5px 0px;
}

.item-msg a {
  color: white;
  text-decoration: none;
}

.item-img-div:hover .item-msg {
  opacity: 1;
  cursor: pointer;
}

.item-img-div:hover .item-img {
  transform: scale(1.2);
}

.item-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.content {
  margin-top: 100px;
}

.itemPage {
  margin: auto 100px;
  padding: 20px;
}

.itemProfile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.itemImgs, .itemInfo {
  width: 50%;
}

.mainImg {
  width: 70%;
}

.footer {
  margin-top: 10px;
  background: #191919;
  padding: 40px;
  display:flex;
  flex-direction:row;
  width: 100%;
}

.footer h3 {
  color:#FFF;
  font-size: .875em;
}

.footer div {
  width: 250px;
}

.footer p {
  color: #999;
  font-size: .688em;
}

.ui-container {
  padding: 14px 21px;
  margin: 0 20px;
  border-radius: 10px;
}

.success {
  background: #fcfff5;
  border: 1px solid #a3c293;
}

.success h4 {
  color: #1a531b;
}

.error {
  background: #ffe8e6;
  border: 1px solid #db2828;
}

.error h4 {
  color: #db2828;
}

.warning {
  background: #fff8db;
  border: 1px solid #b58105;
}

.warning h4 {
  color: #b58105;
}

.cart-col {
  width: 65%;
  margin: 10px;
}

.order-col {
  width: 30%;
  margin: 10px;
}

.cart-header {
  width: 100%;
  background-color: #eee;
  padding: 20px;
  font-size: 12px;
  color: #666;
}

.cart-header span {
  color: #FA5400;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.025em;
  font-weight: bold;
}

.cart-header a {
  color: #666;
}

.cart-header p {
  margin-bottom: 0px;
}

.cart-header h3 {
  color: black;
  margin-top: 10px;
}

.cart-table {
  border: 1px solid #eee;
  color: #666;
  padding: 20px;
}

.cart-table p span {
  font-weight: bold;
}

.bold {
  margin-bottom: 20px;
}

.summary-content {
  background-color: #191919;
}

.summary-row {
  padding: 14px 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  color: #efefef;
  font-size: 14px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.summaryLabel {
  font-size: 15px;
}

.summaryText {
  color: #c8cbcc;
}

.summary-header {
  padding: 20px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  color: #efefef;
  text-align: center;
}

.summary-header h3 {
  color: #FA5400;
}

.increase-pts {
  font-weight: bold;
  letter-spacing: 0.15em;
}

.green {
  color: #0f9b0f;
}

.checkout-green {
  color: #00f260;
}

.checkout-btn {
  width: 100%;
  padding: 5px 10px;
  background-color: #FA5400;
  color: white;
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  height: 48px;
}

.checkout-form {
  margin: 0;
  padding: 0;
  width: 100%;
}

.checkout-form input {
  width: 100%;
  padding: 0 14px;
  color: #00f260;
  height: 40px;
  margin-bottom: 20px;
  background-color: #0f0f0fec;
  border: 0;
  border-radius: 2px;
  text-align: center;
  letter-spacing: .1em;
  margin: 0;
}

.promo-btn {
  width: 100%;
  padding: 0 14px;
  height: 48px;
  background-color: #0575e6;
  color: white;
  border-radius: 2px;
  border: 0;
  margin-top: 20px;
}

.checkout-info {
  text-align:left;
  font-size: 11px;
  color: white;
  margin-bottom: 0;
}

.item-hr {
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 14px;
}

.item-hr-img {
  width: 150px;
}

.table-header {
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
  color: black;
  font-weight: bold;
}

.inputBox {
  padding: 13px 10px 13px 0;
  display: flex;
  flex-direction: column;
}

.inputField {
  padding: 0 14px;
  border: 1px solid #c8cbcc;
  height: 48px;
  transition: all .3s;
}

.inputBox .inputField:focus + .inputLabel {
  top: -55px;
  font-size: 12px;
}

.inputBox .inputField:focus {
  border-bottom: 2px solid black;
  outline-width: 0;
}

.half {
  width: 50%;
}

.full {
  width: 100%;
}

.inputLabel {
  font-size: 14px;
  transition: all .3s;
  padding: 2px 5px 1px 5px;
  margin-left: 10px;
  position: relative;
  left: 0;
  top: -34px;
  width: max-content;
  cursor: text;
  background-color: white;
  pointer-events: none;
}

.inputBox .inputField:valid + .inputLabel{
  top: -55px;
  font-size: 12px;
  color: #009736;
}

.inputField:valid {
  border-bottom: 2px solid #009736;
}

.inputBox .touched:invalid + .inputLabel{
  color: #f00;
}

.touched:invalid {
  border-bottom: 2px solid #f00;
}

.form {
  display: flex;
  direction: row;
  flex-wrap: wrap;
}

label {
  display: block;
}

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm {
  border: 1px solid #7d7d7d;
  padding: 65px;
  margin-left: 0;
  margin-right: 0;
}

.confirmTable {
  align-items: stretch;
}

.contact {
  display: block;
  margin: 30px auto;
  margin-bottom: 60px;
  text-align: center;
  line-height: 0.5em;
}

.contact span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #222;
}

.contact p {
  font-size: 13px;
  letter-spacing: 0;
  color: #7d7d7d;
}
.contact img {
  margin-bottom: 20px;
}

.confirm p {
  color: #7d7d7d;
  font-size: 14px;
  margin: 20px auto;
}

.confirmItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.confirmItems div {
  box-sizing: border-box;
  width: 140px;
  height: 140px;
}

.confirmAttr {
  display: flex;
  flex-direction: column;
  height: 200px;
  flex-wrap: wrap;
}

.confirmAttr p {
  margin: 10px;
}

.profile {
  background: linear-gradient(180deg,#5433FF,#20BDFF, #A5FECB);
}

.profileLabel {
  display: flex;
  padding-top: 200px;
  flex-direction: column;
  text-align: center;
}

.profileDes {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.profileDes h3 {
  margin: 0px 30px;
  letter-spacing: 0.2em;
  color: white;
}

.coderName {
  font-size: 10em;
  font-weight: bold;
  color: #000046;
}

.profHeader {
  margin: 0 65px;
  margin-top: 40px;
  text-decoration: underline;
}

.tile {
  width: 100px;
  height: 100px;
  margin: 30px;
  line-height: 90px;
  display: inline-block;
  font-weight: bold;
  vertical-align: middle;
  border-radius: 7px;
  transform: rotate(45deg);
  z-index: 1;
}

.tileLabel {
  letter-spacing: .2em;
  margin-top: -90px;
  z-index:10;
  position: relative;
  font-weight: bold;
}

.tiles{
  margin: 25px 125px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.badgeContainer {
  text-align: center;
  margin-bottom: 10px;
}

.badgeContainer p {
  font-size: 18px;
  z-index:2;
  position: relative;
}

.superPowerContainer {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  text-align: center;
}

.spLabel {
  font-size: 30px;
}

.spText {
  position: relative;
  bottom: -200px;
  font-size: 14px;
}

.pageMsg h3 {
  letter-spacing: normal;
  font-size: 20px;
  line-height: 2em;
  width: 600px;
  color: black;
}

.pagesGreeting {
  padding-top: 100px;
}

.superpower {
  height: 500px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.sp3box {
  border: 1px solid red;
}

.sp3box1 {
  flex-basis: 40%;
  object-fit: scale-down;
  overflow: hidden;
}

.sp3box2 {
  flex-basis: 30%;
  object-fit: scale-down;
  overflow: hidden;
}

.sp3box3 {
  flex-basis: 30%;
  font-size: 16px;
  text-align: center;
  padding: 30px 60px;
}

.spBtn {
  margin-top: 20px;
}

.sp3img {
  height: 500px;
}
